.div-center{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather {
  background-color: aliceblue;
  width: 400px;
  height: 400px;
  border-radius:50%;
  padding-left:10px;
  padding-top:80px;
  box-sizing: border-box;
}
.weather h1 {
  text-align: center;
}
.weather p {
  padding-left: 90px;
}